body{
    margin: 0;
    background: #000;
    color: limegreen;
}

.wrap, .wrap2, .wrap3{
    margin: 5px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
}

.wrap{
    display: block;
}

.user{
    box-sizing: border-box;
    padding: 5px;
    border: 4px double limegreen;
    width: 270px;
}

.name{

}

.address{
    padding: 5px;
    border: 1px solid limegreen;
}