body{
    background: #000;
    color: limegreen;
    padding: 20px;
}

button, input, input:focus{
    background: none;
    border-radius: 0;
    border: 4px double limegreen;
    color: limegreen;
    padding: 5px;
    min-width: 100px;
    margin-top:20px ;
    margin-bottom:20px ;
}

.task3{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

input{
    width: 300px;
    border: 3px solid limegreen;
    /*border-radius: 3px;*/
}

input:focus{
    border: 2px solid limegreen;
}


